In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [3]:
database = pd.read_csv('/content/drive/MyDrive/Pesquisa/Aplicação/preprocessed_database.csv')

In [4]:
database

,BidsPortfolioManager,BidsApi,BidsManual,VerificationType,LanguageCode,Age,Gender,AppliedAmount,Interest,LoanDuration,...,LiabilitiesTotal,RefinanceLiabilities,FreeCash,LossGivenDefault,NoOfPreviousLoansBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan,Status,NewCreditCustomer_True,Country_FI,Country_SK
0,970,1150,5.0,4.0,1,53,1.0,2125.0,20.97,60,...,485.09,6,10.92,0.58,1.0,0.0,1,False,False,False
1,1295,0,1705.0,1.0,1,50,1.0,3000.0,17.12,60,...,736.45,0,78.80,0.65,1.0,1.0,1,False,False,False
2,2700,565,5835.0,4.0,1,44,0.0,10630.0,13.67,60,...,905.00,3,349.43,0.58,0.0,0.0,0,True,False,False
3,1115,0,385.0,3.0,6,42,0.0,1500.0,40.40,60,...,350.00,0,449.47,0.90,0.0,1.0,1,True,False,False
4,305,0,785.0,4.0,6,34,1.0,1595.0,68.39,48,...,940.00,2,95.81,0.75,0.0,0.0,1,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121456,2000,0,0.0,1.0,4,38,1.0,2000.0,33.79,60,...,830.00,0,1393.89,0.90,0.0,0.0,1,True,True,False
121457,6215,70,1155.0,4.0,4,37,0.0,7440.0,24.52,60,...,2488.09,4,5.51,0.68,2.0,0.0,0,False,True,False
121458,430,0,1055.0,1.0,6,37,0.0,1595.0,64.51,60,...,1877.00,2,67.92,0.75,3.0,1.0,0,False,False,False
121459,3000,0,0.0,1.0,3,58,1.0,3000.0,21.62,60,...,359.00,2,11.29,0.65,0.0,0.0,0,True,False,False
121460,0,0,1300.0,4.0,1,64,0.0,1300.0,16.38,48,...,804.20,2,116.38,0.65,4.0,2.0,0,False,False,False

In [5]:
database.loc[database['Education']==1,"Education"]="Primary"
database.loc[database['Education']==2,"Education"]="Basic"
database.loc[database['Education']==3,"Education"]="Vocational"
database.loc[database['Education']==4,"Education"]="Secondary"
database.loc[database['Education']==5,"Education"]="Higher"
database.loc[database['Education'] == -1.0,"Education"] = 'Not_present'
database.loc[database['Education'] == 0.0,"Education"] = 'Not_present'

<ipython-input-5-b2a51680cd0f>:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Primary' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  database.loc[database['Education']==1,"Education"]="Primary"

In [9]:
database.loc[database['Gender'] == 0.0,'Gender'] = 'Male'
database.loc[database['Gender'] == 1.0,'Gender']= 'Female'
database.loc[database['Gender'] == 2.0,'Gender'] = 'Unknown'

<ipython-input-9-141f11265e79>:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Male' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  database.loc[database['Gender'] == 0.0,'Gender'] = 'Male'

In [10]:
database.loc[database['HomeOwnershipType']==0,"HomeOwnershipType"]="Homeless"
database.loc[database['HomeOwnershipType']==1,"HomeOwnershipType"]="Owner"
database.loc[database['HomeOwnershipType']==2,"HomeOwnershipType"]='Living_with_parents'
database.loc[database['HomeOwnershipType']==3,"HomeOwnershipType"]='Tenant_pre_furnished_property'
database.loc[database['HomeOwnershipType']==4,"HomeOwnershipType"]="Tenant_unfurnished_property"
database.loc[database['HomeOwnershipType']==5,"HomeOwnershipType"]="Council_house"
database.loc[database['HomeOwnershipType']==6,"HomeOwnershipType"]="Joint_tenant"
database.loc[database['HomeOwnershipType']==7,"HomeOwnershipType"]="Joint_Ownership"
database.loc[database['HomeOwnershipType']==8,"HomeOwnershipType"]="Mortgage"
database.loc[database['HomeOwnershipType']==9,"HomeOwnershipType"]='Owner_with_encumbrance'
database.loc[database['HomeOwnershipType']==10,"HomeOwnershipType"]="Other"
database.loc[database['HomeOwnershipType']==-1,"HomeOwnershipType"]="Unknown"

<ipython-input-10-f7da3be28d29>:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Homeless' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  database.loc[database['HomeOwnershipType']==0,"HomeOwnershipType"]="Homeless"

In [11]:
database.loc[database['MaritalStatus']==-1,"MaritalStatus"]="Not_specified"
database.loc[database['MaritalStatus']==0,"MaritalStatus"]="Not_specified"
database.loc[database['MaritalStatus']==1,"MaritalStatus"]="Married"
database.loc[database['MaritalStatus']==2,"MaritalStatus"]="Cohabitant"
database.loc[database['MaritalStatus']==3,"MaritalStatus"]="Single"
database.loc[database['MaritalStatus']==4,"MaritalStatus"]="Divorced"
database.loc[database['MaritalStatus']==5,"MaritalStatus"]="Widow"

<ipython-input-11-451faca51b5b>:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Not_specified' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  database.loc[database['MaritalStatus']==-1,"MaritalStatus"]="Not_specified"

In [13]:
database.loc[database['UseOfLoan'] == -1,'UseOfLoan'] = 'Not_set'
database.loc[database['UseOfLoan'] == 0,'UseOfLoan'] = 'Loan_consolidation'
database.loc[database['UseOfLoan'] == 1,'UseOfLoan'] = 'Real_estate'
database.loc[database['UseOfLoan'] == 2,'UseOfLoan'] = 'Home_improvement'
database.loc[database['UseOfLoan'] == 3,'UseOfLoan'] = 'Business'
database.loc[database['UseOfLoan'] == 4,'UseOfLoan'] = 'Education'
database.loc[database['UseOfLoan'] == 5,'UseOfLoan'] = 'Travel'
database.loc[database['UseOfLoan'] == 6,'UseOfLoan'] = 'Vehicle'
database.loc[database['UseOfLoan'] == 7,'UseOfLoan'] = 'Other'
database.loc[database['UseOfLoan'] == 8,'UseOfLoan'] = 'Health'
database.loc[database['UseOfLoan'] == 101,'UseOfLoan'] = 'Working_capital_financing'
database.loc[database['UseOfLoan'] == 102,'UseOfLoan'] = 'Purchase_of_machinery_equipment'
database.loc[database['UseOfLoan'] == 104,'UseOfLoan'] = 'Accounts_receivable_financing'
database.loc[database['UseOfLoan'] == 106,'UseOfLoan'] = 'Construction_finance'
database.loc[database['UseOfLoan'] == 107,'UseOfLoan'] = 'Acquisition_of_stocks'
database.loc[database['UseOfLoan'] == 108,'UseOfLoan'] = 'Acquisition_of_real_estate'
database.loc[database['UseOfLoan'] == 110,'UseOfLoan'] = 'Other_business'

<ipython-input-13-1ca3ecf29c6a>:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Not_set' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  database.loc[database['UseOfLoan'] == -1,'UseOfLoan'] = 'Not_set'

In [14]:
database.loc[database['VerificationType'] == 0.0,'VerificationType'] = 'Not_set'
database.loc[database['VerificationType'] == 1.0,'VerificationType'] = 'Income_unverified'
database.loc[database['VerificationType'] == 2.0,'VerificationType'] = 'Income_unverified_crossref_phone'
database.loc[database['VerificationType'] == 3.0,'VerificationType'] = 'Income_verified'
database.loc[database['VerificationType'] == 4.0,'VerificationType'] = 'Income_expenses_verified'

<ipython-input-14-312a6fd9ce79>:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Not_set' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  database.loc[database['VerificationType'] == 0.0,'VerificationType'] = 'Not_set'

In [16]:
numerical_cols=[col for col in database.columns if database[col].dtype!=object]
categorical_cols=[col for col in database.columns if database[col].dtype==object]
print("No of Numerical features =",len(numerical_cols))
print("No of Categorical features =",len(categorical_cols))

No of Numerical features = 27
No of Categorical features = 6

In [21]:
def Numerical_Summary():
    for col in numerical_cols:
        print(col)
        print("No of Missing Values =",database[col].isnull().sum())
        print("Skew =",database[col].skew())
        print("Histogram")
        fig=px.histogram(data_frame=database,x=col)
        fig.show()
        print("="*50)

def Categorical_Summary():
    for col in categorical_cols:
        print(col)
        print("No of Missin Values =",database[col].isnull().sum())
        print(database[col].value_counts())
        print("="*50)

In [22]:
Numerical_Summary()

Output hidden; open in https://colab.research.google.com to view.

In [23]:
Categorical_Summary()

VerificationType
No of Missin Values = 0
VerificationType
Income_expenses_verified            73225
Income_unverified                   37435
Income_verified                      8965
Income_unverified_crossref_phone     1828
Not_set                                 8
Name: count, dtype: int64
==================================================
Gender
No of Missin Values = 0
Gender
Male       75494
Female     34984
Unknown    10983
Name: count, dtype: int64
==================================================
UseOfLoan
No of Missin Values = 0
UseOfLoan
Not_set                            86395
Other                               9352
Home_improvement                    8686
Loan_consolidation                  6672
Vehicle                             3047
Business                            1871
Travel                              1710
Health                              1460
Education                           1314
Real_estate                          901
Purchase_of_machinery_equipment       21
Other_business                        17
Accounts_receivable_financing          6
Working_capital_financing              5
Acquisition_of_stocks                  2
Construction_finance                   1
Acquisition_of_real_estate             1
Name: count, dtype: int64
==================================================
Education
No of Missin Values = 0
Education
Secondary      44859
Higher         31618
Vocational     27431
Primary        11446
Basic           5950
Not_present      157
Name: count, dtype: int64
==================================================
MaritalStatus
No of Missin Values = 0
MaritalStatus
Not_specified    86453
Single           12025
Married          10188
Cohabitant        8965
Divorced          3264
Widow              566
Name: count, dtype: int64
==================================================
HomeOwnershipType
No of Missin Values = 0
HomeOwnershipType
Owner                            40609
Tenant_pre_furnished_property    28204
Living_with_parents              21217
Mortgage                         13411
Other                             7245
Tenant_unfurnished_property       4352
Joint_Ownership                   2987
Joint_tenant                      1517
Council_house                     1204
Owner_with_encumbrance             666
Homeless                            46
Unknown                              3
Name: count, dtype: int64
==================================================